<div class="reset-wrapper">
  <mat-card class="form-card">
    <mat-card-header class="form-header">
      <mat-card-title class="form-title">Reset Password</mat-card-title>
    </mat-card-header>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <mat-card-content class="form-container">
        <mat-form-field class="form-text-input">
          <input
            matInput
            placeholder="Email"
            id="email"
            formControlName="email"
            required
          />
        </mat-form-field>
        <mat-card
          *ngIf="
            resetForm.controls.email.errors && resetForm.controls.email.touched
          "
          class="form-error-card"
        >
          <mat-content>A valid email is required!</mat-content>
        </mat-card>
      </mat-card-content>
      <button
        mat-stroked-button
        type="submit"
        color="accent"
        class="form-submit-button"
        loading="attempting"
        [class.button-loading-spinner]="loading"
      >
        <span
          class="form-submit-button-text"
          [class.form-submit-button-loading]="loading"
        >
          Reset
        </span>
      </button>
      <mat-card *ngIf="success" class="form-error-card">
        <mat-content
          ><p class="title">
            An email has been sent to this address with a password reset code.
          </p>
          <p>
            <a routerLink="/login">Log in</a>
          </p>
          <p><a routerLink="/sign-up">Sign Up</a></p>
        </mat-content>
      </mat-card>
    </form>
  </mat-card>
</div>
