<!-- Toolbar -->

<mat-toolbar color="secondary" class="navbar">
  <div>
    <a routerLink="" class="navbar-logo">AuthTest</a>
  </div>
  <span class="links">
    <a
      *ngIf="isLoggedIn"
      mat-button
      routerLink="dashboard"
      routerLinkActive="active"
      >Dashboard</a
    >
    <a
      *ngIf="!isLoggedIn"
      mat-button
      routerLink="login"
      routerLinkActive="active"
      >Log in</a
    >
    <a
      *ngIf="!isLoggedIn"
      mat-button
      routerLink="sign-up"
      routerLinkActive="active"
      >Sign Up</a
    >
    <a *ngIf="isLoggedIn" mat-button (click)="logOut()">Log Out</a>
  </span>
</mat-toolbar>

<div class="page-container">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
