html,
body {
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #eeeeee;
}

.page-container {
  min-height: 90vh;
  width: 100%;
}

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
  padding: 30px 0px;
}

.form-title {
  font-size: 30px;
  margin: 0;
}

.form-card {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 80px;
  width: 100%;
  max-width: 300px;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
}

.form-card.back {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  top: -20px;
  opacity: 0.8;
  z-index: -1;
}

.form-card:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  z-index: -1;
}

.form-text-input {
  width: 100%;
  margin-top: 10px;
}

mat-card .form-error-card {
  width: 100%;
  padding: 10px 0px;
  border: 2px solid red;
  border-radius: 8px;
  text-align: center;
  font-weight: 700;
  margin-top: 8px;
}

.form-submit-button {
  width: 100%;
  border: 1px solid currentColor;
  line-height: 50px;
  background: currentColor;
  margin: 10px 0px;
}

.form-submit-button:hover {
  background: #fa6194;
}

.form-submit-button-text {
  color: #fff;
  font-size: large;
}

.form-submit-button-loading {
  opacity: 0;
}

.form-submit-button:hover .form-submit-button-text {
  font-weight: bold;
}

@keyframes button-loading-spinner {
  to {
    transform: rotate(360deg);
  }
}

.button-loading-spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: button-loading-spinner 0.8s linear infinite;
}
